
# HTID:11081433: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:11081433:

# HTID:11163301: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
Redirect 301 /einekleine.net http://einekleine.net
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:11163301:
